.teste{
    margin-top: 50%;
}
.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 50%;
    height: 50%;
    max-width: 150px;
    max-height: 200px;
    align-items: center;
    padding: 1rem;
    
}

.modal:target {
    visibility: visible;
    opacity: 1;
}


.modal_fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 2.5rem;
    margin-bottom: 0px;
}
.modalClose{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 100px;
    max-width: 5px;
    max-height: 5px;
}
.modalClose:hover{
    color: blue;
    text-decoration: none;
    font-size: 20px;
    border-radius: 12px;
    box-sizing: 5px;
}
.pokemons {
    list-style: none;
    padding: 0;
    margin: 0;

    /* alinha a lista um do lado da outra ocupando 50% 50% cada coluna */
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: 700;
    
    
}
.pokemon {
    /* layout dos cards da lista*/
    margin: 0.5rem;
    padding: 2rem 1rem;
    height: auto;

    /* fundo, letras e bordas*/
    color: white;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    /* flex = deixar os elementos um embaixo do outro ou do lado do outro*/
    /* column deixa um embaixo do outro */
    /* se fosse um do lado do outro colacaria row no lugar do column*/
    
    /* não deixa vazar imagem */
    max-width: 100%;
}

.normal{
    background-color: #a6a87791;}
.grass{
    background-color: #76c8508c;}
.electric{
    background-color: #f8d030a4;}
.water{
    background-color: #6390f0d2;}
.fairy{
    background-color: #aa30f091;}
.psychic{
    background-color: #f8588888;}
.ice{
    background-color: #98d8d8a9;}
.dragon{
    background-color: #6891f09d;}
.dark{
    background-color: #715898a8;}
.steel{
    background-color: #b8b8d0ab;}
.fairy{
    background-color: #aa30f093;}
.rock{
    background-color: #b8a1388f;}
.bug{
    background-color: #44b820a2;}
.ghost{
    background-color: #715898a6;}
.steel{
    background-color: #b8b8d0b7;}
.fighting{
    background-color: #bf3129af;}
.fire{
    background-color: #ee7f30be;}
.poison{
    background-color: #a98ff0b2;
}
.flying{
    background-color: #63b8f067;
}
.ground{
    background-color: orange;
}

img{
    width: 100px;
    height: 100px;
    margin-left: auto;
    
}
.pokemon .datail .img{
    max-width: 100%;
    height: 100%;
    align-self: flex-end; /* joga apenas a imagem para a direita */
}
.pokemon .number {
    color: white;
    text-align: right;
    opacity: 0.5;
    font-size: 12px;
}
.pokemon .name {
    color: white;
    margin-bottom: 0px;
}
.pokemon .datail{
    display: flex;
    flex-direction: row;
    align-items: center; /* centraliza na linha os itens */
}
ol li .types{
    padding: 0;
    margin: 0;
    list-style: none;
}
.btn{

    box-shadow: 1px 1px 5px black;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    background-color: #769a9c96;
    font-weight: 400;
    font-size: 20px;
}

.btn:hover{
    background-color: rgba(255, 255, 255, 0.575);
    font-size: 22px;
    cursor: pointer;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pokemon .datail .types .type{
    padding: .25rem .5rem;
    margin-bottom: 3px;
    font-size: 14px;
    border-radius: 1rem;
    filter: brightness(1.2);
    text-align: center;
}
/* botão status pokemon */
.info{
    border-radius: 12px;
    padding: 0.5rem 1rem;
    font-weight: 700;
    color: white;
    background-color: rgba(255, 255, 255, 0);
}
.info:hover{
    background-color:  rgba(255, 255, 255, 0.575);
    cursor: pointer;
}
/* modal interface*/
.modal{
    border-radius: 12px;
    background-color: white;
    color: black;
    width: 300px;
    margin: auto;
}

/* MIDEA QUERY */
/* QUANDO TIVER UM TAMANHO DE 576px A TELA */
@media screen and (min-width: 250px){
    .pokemons{
        /* Aumenta o numero de colunas na tela*/
        grid-template-columns: 1fr;

    }
   
}
@media screen and (min-width: 400px){
    .pokemons{
        /* Aumenta o numero de colunas na tela*/
        grid-template-columns: 1fr 1fr;

    }
}
@media screen and (min-width: 576px){
    .pokemons{
        /* Aumenta o numero de colunas na tela*/
        grid-template-columns: 1fr 1fr 1fr;

    }
}

@media screen and (min-width: 992px){
    .pokemons{
        /* Aumenta o numero de colunas na tela*/
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
    }
}
h3{
    margin-top: 0px;
    color: rgba(0, 0, 0, 0.738);
}
.status{
    color: rgba(0, 0, 0, 0.738);
    text-transform: capitalize;
    text-align: jus;

}
.hp{
    border-radius: 12px;
    height: 2.3px;
    background-color: rgba(77, 0, 0, 0.692);
    box-shadow: 1px 1px 2px rgb(0, 0, 0)
    
}
.defense{
    border-radius: 12px;
    height: 5px;
    background-color: rgba(11, 9, 136, 0.692);
    box-shadow: 1px 1px 2px rgb(0, 0, 0)
}
.attack{
    border-radius: 12px;
    height: 5px;
    background-color: rgb(185, 7, 7);
    box-shadow: 1px 1px 2px rgb(0, 0, 0)
}
.special-defense{
    border-radius: 12px;
    height: 5px;
    background-color: rgba(245, 229, 6, 0.692);
    box-shadow: 1px 1px 2px rgb(0, 0, 0)
}
.special-attack{
    border-radius: 12px;
    height: 5px;
    background-color: rgba(82, 149, 226, 0.877);
    box-shadow: 1px 1px 2px rgb(0, 0, 0)
}
.speed{
    
    border-radius: 12px;
    height: 5px;
    background-color: rgba(240, 242, 192, 0.987);
    box-shadow: 1px 1px 2px rgb(0, 0, 0)

}